<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.greyvibrant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icon_app_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MusicPlayerActivity">

        </activity>
        <activity
            android:name=".front.SongsHistory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".front.profilePageArtist"></activity>
        <activity android:name=".front.profilePageUser"></activity>
        <activity
            android:name=".front.RegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".front.HomePageArtist"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".front.HomePageUser"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".front.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".old.MySQLActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.Main2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".front.SplashActivity"
            android:screenOrientation="portrait"

            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".old.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>